<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Superhero Creator</title>
    </head>
    <body>
        <center>
            <h1>Superhero Creator</h1>
            <table border="1">
                <tr>
                    <th>Name</th>
                    <th>Alter-Ego</th>
                    <th>Primary Ability</th>
                    <th>Secondary Ability</th>
                    <th>Catchphrase</th>
                    <th></th>
                    <th>Options</th>
                    <th></th>
                </tr>
                {% for superhero in all_superheroes %}
                <tr>
                    <td>{{superhero.name}}</td>
                    <td>{{superhero.alter_ego}}</td>
                    <td>{{superhero.primary_ability}}</td>
                    <td>{{superhero.secondary_ability}}</td>
                    <td>{{superhero.catchphrase}}</td>
                    <td>
                        <a href="{% url 'superheroes_app:detail' superhero.id %}">
                            <input type="button" name="Details" value="Details">
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'superheroes_app:update' superhero.id %}">
                            <input type="button" name="Update" value="Update">
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'superheroes_app:delete' superhero.id %}">
                            <input type="button" name="Delete" value="Delete">
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <hr>
            <h3>You can also create a hero if you'd like. Give it a try by pressing on 'Create'</h3>
            <a href="{% url 'superheroes_app:create' %}">
                <input type="button" name="Create" value="Create">
            </a>
        </center>
    </body>
</html>