<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chosen Hero</title>
    </head>
    <body>
        <center>
            <h1>{{specific_hero.name}}</h1>
            <table border="1">
                <tr>
                    <th>Alter-Ego</th>
                    <th>Primary Ability</th>
                    <th>Secondary Ability</th>
                    <th>Catchphrase</th>
                </tr>
                <tr>
                    <td>{{specific_hero.alter_ego}}</td>
                    <td>{{specific_hero.primary_ability}}</td>
                    <td>{{specific_hero.secondary_ability}}</td>
                    <td>{{specific_hero.catchphrase}}</td>
                </tr>
            </table>
        </center>
    </body>
</html>