<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <title>Chosen Hero</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row p-5">
                <div class="col col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
                <div class="col col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                        <div class="container-fluid">
                            <a class="navbar-brand p-2" href="#">Superheros</a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarCollapse" aria-controls="navbarCollapse"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarCollapse">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/">Home</a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="{% url 'superheroes_app:create' %}">Add Your Hero</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
            </div>

            <div class="row">
                <div class="col col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
                <div class="col col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <h1 class="display-1">
                        {{specific_hero.name}}
                    </h1>
                </div>
                <div class="col col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>
            </div>

            <div class="row">
                <div class="col col-sm-12 col-md-12 col-lg-12 col-xl-12"><hr/></div>
            </div>

            <div class="table-responsive">
                <table class="table align-middle">
                <thead class="table-secondary">
                    <th>Alter Ego</th>
                    <th>Primary Ability</th>
                    <th>Secondary Ability</th>
                    <th>Catchphrase</th>
                </thead>
                <tr>
                    <td>{{specific_hero.alter_ego}}</td>
                    <td>{{specific_hero.primary_ability}}</td>
                    <td>{{specific_hero.secondary_ability}}</td>
                    <td>{{specific_hero.catchphrase}}</td>
                </tr>
            </table>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                crossorigin="anonymous"></script>
    </body>
</html>